[gcode_macro _MATERIAL_VARS]
variable_name: "Sunlu PLA Black"
variable_temperature: 200
variable_bed_temp: 60
variable_flow: 0.92
variable_pressure_advance: 0.045
gcode:
    # Nur ein Container für Variablen